@model WebManageFridgeMQTT.Utility.CongTringPopupMV
<div class="row">
    <div class="col-sm-12">
        <div class="item fl">
            <label class="fl">Chọn Ngày</label>
            @Html.TextBox("strFromDateCPDevice", Model.FromDate.ToShortDateString(), new { @class = "datepicker" })
            @Html.TextBox("strToDateCPDevice", Model.ToDate.ToShortDateString(), new { @class = "datepicker" })
            <button class="btn" onclick="RenderBaoCao('@Model.CongTrinhId')">
                <i class="icon-submit" title="Xem báo cáo"></i>Xem
            </button>
        </div>
        <div class="content-body">
            <div id="table-cpthietbi" class="tab-content wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr class="tablesorter-headerRow">
                            <th nowrap>
                                STT <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tên thiết bị <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Đơn vị thuê <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Ngày đến <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Ngày đi <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Đơn giá <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Số ngày <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Số tiền <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tổng ngày ở CT <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tổng tiền <i class="tablesorter-icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListThietBi != null)
                        {
                            int i = 1;
                            foreach (var item in Model.ListThietBi)
                            {
                                <tr role="row">
                                    <td>@i</td>
                                    <td>@item.TenThietBi</td>
                                    <td>@item.DonViThue</td>
                                    <td>@item.NgayDen</td>
                                    <td>@item.NgayDi</td>
                                    <td>@item.DonGia</td>
                                    <td>@item.SoNgay</td>
                                    <td>@item.SoTien</td>
                                    <td>@item.TongNgayOCongTrinh</td>
                                    <td>@item.TongSoTien</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <nav class="ts-pager-cpthietbi">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous" class="prev">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <span>
                            Chọn
                            <select class="pagenum input-mini" title="Select page number"></select>
                        </span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" class="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <span class="pagedisplay"></span>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $('#table-cpthietbi table').tablesorter({
            headerTemplate: '{content} {icon}', // Add icon for various themes
            widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
            widgetOptions: {
                stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
            }
        }).tablesorterPager({
            container: $(".ts-pager-cpthietbi"),
            cssGoto: ".pagenum",
            prev: '.prev',
            next: '.next',
            size: 5,
            removeRows: false,
            output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
        });



    });
</script>
