@model WebManageFridgeMQTT.Utility.CongTringPopupMV
<div class="row">
    <div class="col-sm-12">
        <div class="item fl">
            <label class="fl">Chọn Ngày</label>
            @Html.TextBox("strFromDateCPVatTu", Model.FromDate.ToShortPattern(), new { @class = "datepicker" })
            @Html.TextBox("strToDateCPVatTu", Model.ToDate.ToShortPattern(), new { @class = "datepicker" })
            <button class="btn" onclick="RenderCPVatTu('@Model.CongTrinhId')">
                <i class="icon-submit" title="Xem báo cáo"></i>Xem
            </button>
        </div>
        <div class="content-body">
            <div id="table-sanluong" class="tab-content wrapper">
                <table class="table table-striped" style="margin-bottom:8px">
                    <thead>
                        <tr class="tablesorter-headerRow">
                            <th nowrap>
                                STT <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tên vật tư <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Số nhập <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Đơn giá <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Thành tiền <i class="tablesorter-icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyReport">
                        @if (Model.ListVatTu != null)
                        {
                            int i = 1;
                            foreach (var item in Model.ListVatTu)
                            {
                                <tr role="row">
                                    <td>@i</td>
                                    <td>@item.TenVatTu</td>
                                    <td class="align-right">@item.SoLuong</td>
                                    <td class="align-right">@item.GiaBan</td>
                                    <td class="align-right">@item.ThanhTien</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
                
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align:right">@ViewData["TotalMoney"] VNĐ</th>
                            </tr>
                        </thead>
                    </table>
            </div>
            
            <nav class="ts-pager-sanluong">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous" class="prev">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <span>
                            Chọn
                            <select class="pagenum input-mini" title="Select page number"></select>
                        </span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" class="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <span class="pagedisplay"></span>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $('#table-sanluong table').tablesorter({
            headerTemplate: '{content} {icon}', // Add icon for various themes
            widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
            widgetOptions: {
                stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
            }
        }).tablesorterPager({
            container: $(".ts-pager-sanluong"),
            cssGoto: ".pagenum",
            prev: '.prev',
            next: '.next',
            size: 5,
            removeRows: false,
            output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
        });

    });
</script>
