@model WebManageFridgeMQTT.Utility.DeviceActivity
<div class="row">
    <div class="col-sm-12">
        <div class="item fl">
            <label class="fl">Chọn Ngày</label>
            @Html.TextBox("strFromDateBaoDuong", Model.FromDate.ToShortDateString(), new { @class = "datepicker" })
            @Html.TextBox("strToDateBaoDuong", Model.ToDate.ToShortDateString(), new { @class = "datepicker" })
            <button class="btn" onclick="RenderBaoDuong('@Model.ThietBiID')">
                <i class="icon-submit" title="Xem báo cáo"></i>Xem
            </button>
        </div>
        <div class="content-body">
            <div id="table-modify" class="tab-content wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr class="tablesorter-headerRow">
                            <th nowrap>Ngày Báo Sửa</th>
                            <th nowrap>Ngày Sửa</th>
                            <th nowrap>Ngày Hoàn Tất</th>
                            <th nowrap>Đơn Vị Sửa</th>
                            <th nowrap>Địa Điểm Sửa</th>
                            <th nowrap>Mô Tả</th>
                            <th nowrap>Chi Phí</th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyModify">
                        @if (Model.ListDataModify != null && Model.ListDataModify.Count > 0)
                        {
                            foreach (var item in Model.ListDataModify)
                            {
                                <tr>
                                    <td nowrap>@item.NgayBaoSua</td>
                                    <td nowrap>@item.NgaySua</td>
                                    <td nowrap>@item.NgayHoanTat</td>
                                    <td>@item.DonViSua</td>
                                    <td>@item.DiaDiemSua</td>
                                    <td>@item.MoTa</td>
                                    <td nowrap align="right" class="align-right">@item.ChiPhi</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <nav class="ts-pager-baoduong">
                    <ul class="pagination pagination-sm">
                        <li>
                            <a href="javascript:void(0)" aria-label="Previous" class="prev">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <span>
                                Chọn
                                <select class="pagenum input-mini" title="Select page number"></select>
                            </span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="Next" class="next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    <span class="pagedisplay"></span>
                </nav>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $('#table-modify table').tablesorter({
                headerTemplate: '{content} {icon}', // Add icon for various themes
                widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
                widgetOptions: {
                    stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
                }
            }).tablesorterPager({
                container: $(".ts-pager-baoduong"),
                cssGoto: ".pagenum",
                prev: '.prev',
                next: '.next',
                size: 5,
                removeRows: false,
                output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
            });
        });
    </script>
