@model WebManageFridgeMQTT.Utility.DeviceActivity
<div class="row">
    <div class="item fl">
        <label class="fl">Chọn Ngày</label>
        @Html.TextBox("strFromDateHoatDong", Model.FromDate.ToShortDateString(), new { @class = "datepicker" })
        @Html.TextBox("strToDateHoatDong", Model.ToDate.ToShortDateString(), new { @class = "datepicker" })
    </div>
    <div id="btn-xemBaoDuong" class="item fl">
        <button onclick="RenderBaoDuong('@Model.ThietBiID')">
            <i class="icon-submit" title="Xem báo cáo"></i>Xem
        </button>
    </div>
</div>
<div class="row content-body">
    <div id="table-baoduong" class="tab-content wrapper">
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>Thời Gian</th>
                    <th>Mô tả</th>
                    <th>Đơn vị sửa chửa</th>
                    <th>Chi Phí</th>
                    <th>Công Trình</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListDataModify != null)
                {
                    foreach (var item in Model.ListDataModify)
                    {
                        <tr>
                            <td>@(item.NgaySua.HasValue ? item.NgaySua.Value.ToString() : "")</td>
                            <td>@item.MoTa</td>
                            <td>@item.DonViSua</td>
                            <td>@item.ChiPhi</td>
                            <td>@item.NguoiKhaiBao</td>
                        </tr>
                    }
                }
                @*<tr>
                    <td>02/04/2016 7:56:34 CH</td>
                    <td>Thay Dầu</td>
                    <td>Minh Anh </td>
                    <td>10000</td>
                    <td>Công Trình Bạch Đằng</td>
                </tr>
                <tr>
                    <td>02/04/2016 7:56:34 CH</td>
                    <td>Sửa lọc</td>
                    <td>Minh Anh </td>
                    <td>6000</td>
                    <td>Công Trình Kiến Hưng</td>
                </tr>
                <tr>
                    <td>16/04/2016 7:56:34 CH</td>
                    <td>Sửa bánh xe</td>
                    <td>Minh Anh </td>
                    <td>16000</td>
                    <td>Công Trình Kiến Hưng</td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="padding-bottom:2px">
    <div class="col-xs-offset-3 col-xs-5">
        <ul class="m-0">
            <li class="ts-pager-baoduong">
                <span>
                    Chọn
                    <select class="pagenum input-mini" title="Select page number"></select>
                </span>
                <span>   </span>
                <a href="#" title="prev"><img src="@Url.Content("~/Content/NewEtool/img/per.png")" class="prev" /></a>
                <span class="pagedisplay"></span>
                <a href="#" title="next"><img src="@Url.Content("~/Content/NewEtool/img/next.png")" class="next" /></a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $('.tab-content .tablesorter').tablesorter({
            headerTemplate: '{content} {icon}', // Add icon for various themes
            widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
            widgetOptions: {
                stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
            }
        }).tablesorterPager({
            container: $(".ts-pager-baoduong"),
            cssGoto: ".pagenum",
            prev: '.prev',
            next: '.next',
            size: 5,
            removeRows: false,
            output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
        });
    });
</script>