@model WebManageFridgeMQTT.Utility.DeviceActivity
<div class="row">
    <div class="col-sm-12">
        <div class="item fl">
            <label class="fl">Chọn Ngày</label>
            @Html.TextBox("strFromDateBaoCao", Model.FromDate.ToShortDateString(), new { @class = "datepicker" })
            @Html.TextBox("strToDateBaoCao", Model.ToDate.ToShortDateString(), new { @class = "datepicker" })
            <button class="btn" onclick="RenderBaoCao('@Model.ThietBiID')">
                <i class="icon-submit" title="Xem báo cáo"></i>Xem
            </button>
        </div>
        <div class="content-body">
            <div id="table-report" class="tab-content wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr class="tablesorter-headerRow">
                            <th nowrap>
                                STT <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Thời Gian <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Trạng Thái <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tình Trạng <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Ghi Chú <i class="tablesorter-icon"></i>
                            </th>
                            <th style="display:none">
                                Hình Ảnh <i class="tablesorter-icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbBodyReport">
                        @if (Model.ListDataReport != null && Model.ListDataReport.Count > 0)
                        {
                            int i = 1;
                            foreach (var item in Model.ListDataReport)
                            {
                                <tr role="row" class="fancybox" href='#inlineBaoCao'>
                                    <td>@i</td>
                                    <td>@item.ThoiGian</td>
                                    <td>@item.strTrangThai</td>
                                    <td>@item.strTinhTrang</td>
                                    <td>@item.GhiChu</td>
                                    <td style="display:none">@item.HinhAnh</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <nav class="ts-pager-baocao">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous" class="prev">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <span>
                            Chọn
                            <select class="pagenum input-mini" title="Select page number"></select>
                        </span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" class="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <span class="pagedisplay"></span>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $('#table-report table').tablesorter({
            headerTemplate: '{content} {icon}', // Add icon for various themes
            widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
            widgetOptions: {
                stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
            }
        }).tablesorterPager({
            container: $(".ts-pager-baocao"),
            cssGoto: ".pagenum",
            prev: '.prev',
            next: '.next',
            size: 3,
            removeRows: false,
            output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
        });
    });
</script>
