@model List<WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult>

@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    
    WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult info = Model[0];
}

@section Scripts
{
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.iconlabel.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.label.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/leaflet.awesome-markers.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet-google.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.iconlabel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Marker.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Control.MiniMap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Map.Label.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.markercluster-src.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/GeoFridge.js")"></script>
    <script>
        function OnTreeViewNodeClick(s, e) {
            var itemId = e.node.name;
            var isParent =e.node.nodes.length >0;
            FocusOnContrucstion(itemId,isParent);
        }
        function OnTreeViewCheckedChanged(s, e) {
          //  alert("CheckedChanged" + e.node.name);
        }
        function OnTreeViewExpandedChanged(s, e) {
           // alert("ExpandedChanged" + e.node.name);
        }

    </script>
}
<style>
    .leaflet-marker-iconlabel{
        background:#FFFFFF;
    } 
    .row p span {
        font-weight: bold;
    }
    .leaflet-popup-content-wrapper {
        min-width: 610px;
        max-height: 460px;
    }
    .leaflet-popup-content-wrapper .leaflet-popup-content {        
        margin: 5px;
    }

    .tab-pane .row p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #notePanel {
        width: 50%;
        z-index:99;
        background-color: #FFFFFF;
        position: absolute;
        border: 1px solid #F2F2F2;
        bottom: 20px;
        right: 0;
        border-radius: 6px;
        opacity: 0.8;
        display: none;
    }
    #lblnote {
        position: absolute;
        color: Blue;
        bottom: 0;
        right: 60px;
        z-index: 1;
    }
    #notePanel table tr td{
        padding:0px;
    }
        #notePanel table tr td img {
            max-height: 21px;
        }
        #contain {
        position: absolute;
        height: 350px;
        width: 330px;
        background-color: white;
        overflow: auto;
        top: 4px;
    right: 0px;
        border: 3px solid red;
        border-radius: 6px;
    }
</style>
<div id="loading" class="loading">
</div>

<div class="insider">
    <div id="map" class="map">
                <div id="contain">
            <div style="height: 25px"></div>
            <div style="margin-left: 10px" id="tree" class="treeView">
                 @Html.Action("TreeViewSelected")
           @*     <label id="lblDate" class="fl">Ngày</label>

                <input type="date" id="strDate" name="strDate" onchange="RunEmployee();" style="top: 80px">
                  <br />
                   <br />
                <label>
                    <input type="checkbox" name="shwConstruction" id="shwConstruction" class="checkbox1" onchange="ShowConstruction();" />Công Trình
                </label>*@
            </div>
        </div>
    </div>
    <button id="lblnote" class="toggle-button mini btn-transparent mt-10">
        <i class="icon-up icon-black" title="Legend"></i>
    </button>
    <div id="notePanel">
        <table>
            <tr>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/dangbaoduong.png")" style="margin-left: 5px;" />
                    <span>Đang bảo dưỡng</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/tatbaoduong.png")" style="margin-left: 5px;" />
                    <span>Tắt máy bảo dưỡng</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/dangdichuyen.png")" style="margin-left: 5px;" />
                    <span>Đang di chuyển</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/tatdichuyen.png")" style="margin-left: 5px;" />
                    <span>Tắt máy di chuyển</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/dangkhoan.png")" style="margin-left: 5px;" />
                    <span>Đang khoan</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/tatkhoan.png")" style="margin-left: 5px;" />
                    <span>Tắt máy khoan</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/dangcau.png")" style="margin-left: 5px;" />
                    <span>Đang cẩu</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/tatcau.png")" style="margin-left: 5px;" />
                    <span>Tắt máy cẩu</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/grey.png")" style="margin-left: 5px;" />
                    <span>Không xác định</span>
                </td>
            </tr>
        </table>
    </div>

</div>
<div id="DevicePopupTemplete" style="display: none; z-index: 999999; min-width: 600px; max-height: 450px;background-color:#EFFBF2">
    <div class="tab-header">
        <ul id="ul-tab" class="nav nav-tabs" style="background-color:#FFBF00">
            <li class="active"><a data-toggle="tab" href="#info">Thông tin</a></li>
            <li><a data-toggle="tab" href="#detail">Chi Tiết</a></li>
            <li><a data-toggle="tab" href="#activity" onclick="RenderHoatDong('0')">Lịch sử hoạt động</a></li>
            <li><a data-toggle="tab" href="#dichuyen" onclick="RenderDiChuyen('0')">Lịch sử di chuyển</a></li>
            <li><a data-toggle="tab" href="#baoduong" onclick="RenderBaoDuong('0');">Bảo dưỡng sửa chửa</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="info" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-4">
                    <img id="avatar" style="max-width: 200px; max-height: 280px; padding-top: 12px; padding-bottom: 12px; padding-left: 20px" src="~/Content/img1.jpg" />

                </div>
                <div class="col-sm-6">
                    <div class="info">
                        <h3 id="TenThietBi">@info.TenThietBi</h3>
                        <table class="tablesorter" id="tbInfo">
                            <thead>
                                <tr>
                                    <th>Trạng thái</th>
                                    <th>Đã hoạt động</th>
                                    <th>Vị trí</th>
                                    <th>Lần thay dầu tiếp theo</th>
                                    <th>Lần thay lọc tiếp theo</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><span id="TrangThai">@info.StrTrangThai</span></td>
                                    <td><span id="DaHoatDong">@info.DaHoatDong</span></td>
                                    <td><span id="TenCongTrinh">@info.TenCongTrinh</span></td>
                                    <td><span id="ThayDauTiep" style="text-align:right">@info.ThayDauTiep</span></td>
                                    <td><span id="ThayLocTiep" style="text-align:right">@info.ThayLocTiep</span></td>
                                </tr>

                            </tbody>
                        </table>
                        @*                        <p>Trạng thái: <span id="TrangThai">@info.StrTrangThai</span></p>
                        <p>Đã hoạt động: <span id="DaHoatDong">@info.DaHoatDong</span></p>
                        <p>Vị trí: <span id="TenCongTrinh">@info.TenCongTrinh</span></p>
                        <p>Lần thay dầu tiếp theo: <span id="ThayDauTiep">@info.ThayDauTiep</span></p>
                        <p>Lần thay lọc tiếp theo: <span id="ThayLocTiep">@info.ThayLocTiep</span></p>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="detail" class="tab-pane fade in">
          @*  <div class="row">
                <div class="info">*@
                    <h3 id="TenThietBi">@info.TenThietBi</h3>
                    <table class="tablesorter" id="tbDetail">
                        <thead>
                            <tr>
                                <th>Loại Hình</th>
                                <th>Vị Trí Hiện Tại</th>
                                <th>Ngày Đến</th>
                                <th>Tổng Số Ngày Ở Công Trình</th>
                                <th>Don Gia Thue</th>
                                <th>Thành Tiền Hiện Tại</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><span id="LoaiHinh">@info.LoaiHinh</span></td>
                                <td><span id="TenCongTrinh">@info.TenCongTrinh</span></td>
                                <td><span id="ThoiGianVao">@(info.ThoiGianVao.HasValue ? info.ThoiGianVao.Value.ToShortDateString() : "")</span></td>
                                <td><span id="NgayOCongTrinh" style="text-align:right">@((info.NgayOCongTrinh.HasValue && info.NgayOCongTrinh != null) ? info.NgayOCongTrinh + "Ngày": "")</span></td>
                                <td><span id="GiaThue">@String.Format("{0:C}",@info.GiaThue)</span></td>
                                <td><span id="ThanhTien">@String.Format("{0:C}", info.ThanhTien)</span></td>
                            </tr>

                        </tbody>
                    </table>
                    @*        <p>Loại hình: <span id="LoaiHinh">@info.LoaiHinh</span></p>
                    <p>Vị trí hiện tại: <span id="TenCongTrinh">@info.TenCongTrinh</span></p>
                    <p>Ngày đến: <span id="ThoiGianVao">@(info.ThoiGianVao.HasValue ? info.ThoiGianVao.Value.ToShortDateString() : "")</span></p>
                    <p>Tổng số ngày ở công trình: <span id="NgayOCongTrinh">@info.NgayOCongTrinh Ngày</span></p>
                    <p>Đơn giá thuê: <span id="GiaThue">@info.GiaThue  VNĐ</span></p>
                    <p>Thành tiền hiện tại: <span id="ThanhTien">@info.ThanhTien VNĐ</span></p>*@
       @*         </div>
            </div>*@
            <div class="row" style="padding-top: 3px;">
                <span>Hình ảnh báo cáo </span>
                <hr style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px; margin-right: 2px" />
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img id="image1" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px" src="~/Content/img1.jpg" />
                  <div><span style="margin-left:10px">Ngày: 22/05/2016</span></div>
                      
                </div>
                <div class="col-xs-4">
                    <img id="image2" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;" src="~/Content/img2.jpg" />
                     <div><span style="margin-left:10px">Ngày: 2/11/2016</span></div>
                </div>
                <div class="col-xs-4">
                    <img id="image3" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px" src="~/Content/img3.jpg" />
                   <div><span style="margin-left:10px">Ngày: 13/12/2016</span></div>
                      </div>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>
        <div id="activity" class="tab-pane">
        </div>
        <div id="dichuyen" class="tab-pane">
        </div>
        <div id="baoduong" class="tab-pane">
        </div>
    </div>
</div>
<script type="text/javascript">
    var PathFolderImage = '@System.Configuration.ConfigurationManager.AppSettings["PathFolderImage"].ToString()';
    function getFormattedCurrency(num) {
        num = num.toFixed(2)
        var cents = (num - Math.floor(num)).toFixed(2);
        return Math.floor(num).toLocaleString() + '.' + cents.split('.')[1];
    }
    
    var mapData = [];
    mapData.LatLongBounds = [];
    mapData.LayerDevice = L.layerGroup();
    var map = new L.Map('map', {
        center: [16, 106],
        zoom: 7,
        minZoom: 0,
        maxZoom: 23,
        contextmenu: true,
        contextmenuWidth: 240,
        contextmenuItems: [{
            text: 'Initial'
        }
        ]
    }
    );
    
    var googleLayer = new L.Google('ROADMAP');
    map.addLayer(googleLayer);
    
    //mapData.LatLongBounds.push([SMlat, SMlng]);
    function MapAutoFit() {
        if (mapData.LatLongBounds.length > 0) {
            var bounds = new L.LatLngBounds(mapData.LatLongBounds);
            map.fitBounds(bounds);
        }
    }
    function MapPanToAndZoom(latlng, zoom) {
        if (mapData.LatLongBounds.length > 0) {
            var bounds = new L.LatLngBounds(mapData.LatLongBounds);
            map.fitBounds(bounds);
        }
    }
    function FocusOnContrucstion(id, isParent){
        $.ajax({
            url:'../Monitoring/GetThietBi',
            type:'POST',
            dataType:'json',
            data:{"equipmentId":id, "isParent": isParent},
            success:function(data){
                mapData.LatLongBounds = []
                BoundEquiqments(data.info);
            }
        });
    }
    function BoundEquiqments(data){
        if (data == null)
            return false;
        var n = data.length;
        if (n == 0)
            return false;
        for (var i = 0; i < n; i++) {
            mapData.LatLongBounds.push([data[i].LatitudeHienTai, data[i].LongtitudeHienTai]);
        }

        MapAutoFit();
    }
    $(document).ready(function () {
        

        var data = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        for (var i in data) {
            var strIconUrl = 'grey';
            if(data[i].TrangThaiHienTai == 3){
                strIconUrl = 'dangbaoduong';
            }else if(data[i].TrangThaiHienTai == 4){
                strIconUrl = 'tatbaoduong';
            }else if(data[i].TrangThaiHienTai == 5){
                strIconUrl = 'dangdichuyen';
            }else if(data[i].TrangThaiHienTai == 6){
                strIconUrl = 'tatdichuyen';
            }else if(data[i].TrangThaiHienTai == 7){
                strIconUrl = 'dangkhoan';
            }else if(data[i].TrangThaiHienTai == 8){
                strIconUrl = 'tatkhoan';
            }else if(data[i].TrangThaiHienTai == 9){
                strIconUrl = 'dangcau';
            }else if(data[i].TrangThaiHienTai == 10){
                strIconUrl = 'tatcau';
            } else{
                strIconUrl = 'grey';
            }

            RenderMarker([data[i].Latitude, data[i].Longitude], data[i].TenThietBi, RederPopupDevice(data[i]), strIconUrl, mapData.LayerDevice);

            //var marker = new L.Marker(
            //        new L.LatLng(data[i].Latitude, data[i].Longitude)
            //    ).bindPopup(data[i].TenThietBi)
            //	.addTo(map);
        }
        //RenderMarker([10.6655357562, 105.7323638722], 'sdsd', '<p>sdsds</p>', '070', mapData.LayerDevice);


        if(map.hasLayer(mapData.LayerDevice)==false){
            map.addLayer(mapData.LayerDevice);
        }


        $('#lblnote').on('click', function () {
            $('#notePanel').toggle();
        });


    });
    
    function RederPopupDevice(item)
    {
        var btnxemHoatDong = '<button onclick="RenderHoatDong(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
        var btnxemDiChuyen = '<button onclick="RenderDiChuyen(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
        var btnxemBaoDuong = '<button onclick="RenderBaoDuong(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
        var ultab = '<li class="active"><a data-toggle="tab" href="#info">Thông tin</a></li>';
        ultab +=    '<li><a data-toggle="tab" href="#detail">Chi Tiết</a></li>';
        ultab +=    '<li><a data-toggle="tab" href="#activity" onclick="RenderHoatDong(\''+ item.ThietBiId + '\');">Lịch sử hoạt động</a></li>';
        ultab +=    '<li><a data-toggle="tab" href="#dichuyen" onclick="RenderDiChuyen(\''+ item.ThietBiId + '\');">Lịch sử di chuyển</a></li>';
        ultab +=    '<li><a data-toggle="tab" href="#baoduong" onclick="RenderBaoDuong(\''+ item.ThietBiId + '\');">Bảo dưỡng sửa chửa</a></li>';


        var htmlData = '';
        var matadata = $('#DevicePopupTemplete');
        var data = matadata.clone();
        data.css('display','');
        data.find('h3[id="TenThietBi"]').html(item.TenThietBi);
        data.find('span[id="TrangThai"]').html(item.StrTrangThai);
        data.find('span[id="DaHoatDong"]').html(item.DaHoatDong);
        data.find('span[id="TenCongTrinh"]').html(item.TenCongTrinh);
        data.find('span[id="ThayDauTiep"]').html(item.ThayDauTiep);
        data.find('span[id="ThayLocTiep"]').html(item.ThayLocTiep);
        data.find('span[id="LoaiHinh"]').html(item.LoaiHinh);
        data.find('span[id="ThoiGianVao"]').html(formatDate(item.ThoiGianVao));
        data.find('span[id="NgayOCongTrinh"]').html(item.NgayOCongTrinh + ' Ngày');
        data.find('span[id="GiaThue"]').html(item.GiaThue + ' VNĐ');
        data.find('span[id="ThanhTien"]').html(item.ThanhTien + ' VNĐ');
        data.find('ul[id="ul-tab"]').html(ultab);
        data.find('div[id="btn-xemHoatDong"]').html(btnxemHoatDong); 
        data.find('div[id="btn-xemDiChuyen"]').html(btnxemDiChuyen);
        data.find('div[id="btn-xemBaoDuong"]').html(btnxemBaoDuong);
        var imgavatar = PathFolderImage + item.HAAvatarThietBi;
        data.find('img[id="avatar"]').attr('src', imgavatar);
        
        if(item.HAHoatDongThietBi != '' & item.HAHoatDongThietBi != undefined)
        {
            var arrayHA = item.HAHoatDongThietBi.split(",");
            if(arrayHA.length >= 1){
                data.find('img[id="image1"]').attr('src', PathFolderImage + arrayHA[0]);
            }
            if(arrayHA.length >= 2){
                data.find('img[id="image2"]').attr('src', PathFolderImage + arrayHA[1]);
            }
            if(arrayHA.length >= 3){
                data.find('img[id="image3"]').attr('src', PathFolderImage + arrayHA[2]);
            }
        }
        


        $("#imageID").attr('src', 'srcImage.jpg');

        var elm = data[0];
        htmlData += elm.outerHTML;
        return htmlData;
    }
    function RenderBaoDuong(thietbiId)
    {
        var strFromDate = $('#strFromDateBaoDuong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateBaoDuong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#baoduong").load('@(Url.Action("DeviceModify", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function RenderDiChuyen(thietbiId)
    {
        var strFromDate = $('#strFromDateDiChuyen').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateBaoDuong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#dichuyen").load('@(Url.Action("DeviceMove", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function RenderHoatDong(thietbiId)
    {
        var strFromDate = $('#strFromDateHoatDong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }

        var strToDate = $('#strToDateHoatDong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#activity").load('@(Url.Action("DeviceActivity", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function formatDate(date) {
        if(date){
            var d = new Date(parseInt(date.substr(6)));
            dformat = [ (d.getMonth()+1).padLeft(),
                        d.getDate().padLeft(),
                        d.getFullYear()].join('/')+
                        ' ' +
                      [ d.getHours().padLeft(),
                        d.getMinutes().padLeft(),
                        d.getSeconds().padLeft()].join(':');
            return dformat;
        }else{
            return '';
        }
        
    }
    Number.prototype.padLeft = function(base,chr){
        var  len = (String(base || 10).length - String(this).length)+1;
        return len > 0? new Array(len).join(chr || '0')+this : this;
    }
</script>
    