@model List<WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult>

@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult info = Model[0];
}

@section Scripts
{
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.iconlabel.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.label.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/leaflet.awesome-markers.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/L.Control.SlideMenu.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet-google.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.iconlabel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Marker.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Control.MiniMap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Map.Label.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.markercluster-src.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/GeoFridge.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/L.Control.SlideMenu.js")"></script>
@*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>*@
@*    <script src="~/Content/Test/jquery.panelslider.js"></script>*@
    <script>
        function OnTreeViewNodeClick(s, e) {
            var itemId = e.node.name;
            var isParent =e.node.nodes.length >0;
            FocusOnContrucstion(itemId,isParent);
        }
        function OnTreeViewCheckedChanged(s, e) {
            //  alert("CheckedChanged" + e.node.name);
        }
        function OnTreeViewExpandedChanged(s, e) {
            // alert("ExpandedChanged" + e.node.name);
        }

    </script>
}
<style>
    .leaflet-marker-iconlabel {
        background: #FFFFFF;
    }

    .row p span {
        font-weight: bold;
    }

    .leaflet-popup-content-wrapper {
        min-width: 756px;
        max-height: 460px;
    }

        .leaflet-popup-content-wrapper .leaflet-popup-content {
            margin: 5px;
        }

    .tab-pane .row p {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #notePanel {
        width: 50%;
        z-index: 99;
        background-color: #DBF9E1;
        position: absolute;
        border: 1px solid #F2F2F2;
        bottom: 20px;
        right: 0;
        border-radius: 6px;
        /*opacity: 0.8;*/
        display: none;
    }

    #lblnote {
        position: absolute;
        color: Blue;
        bottom: 0;
        right: 60px;
        z-index: 1;
    }

    #notePanel table tr td {
        padding: 0px;
    }

        #notePanel table tr td img {
            max-height: 21px;
        }

    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999999999999999;
        opacity: .3;
        background: url(../Content/Icon/markers/progress.gif) no-repeat center white;
        /*background: url(/MapTest/images/loading.gif) no-repeat center #bbb;*/
    }


    text-right {
        text-align: right;
    }

    .td.text-left {
        text-align: left;
        font-weight: bold;
    }

    .td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #search-text-input {
        border-top: thin solid #e5e5e5;
        border-right: thin solid #e5e5e5;
        border-bottom: 0;
        border-left: thin solid #e5e5e5;
        box-shadow: 0px 1px 1px 1px #e5e5e5;
        float: left;
        height: 17px;
        margin: .8em 0 0 .5em;
        outline: 0;
        padding: .4em 0 .4em .6em;
        width: 183px;
    }

    #button-holder {
        background-color: #f1f1f1;
        border-top: thin solid #e5e5e5;
        box-shadow: 1px 1px 1px 1px #e5e5e5;
        cursor: pointer;
        float: left;
        height: 27px;
        margin: 11px 0 0 0;
        text-align: center;
        width: 50px;
    }

        #button-holder img {
            margin: 4px;
            width: 20px;
        }

    #txtSearch {
        background: url("Content/Test/img/magnifying_glass.png") right;
        background-repeat: no-repeat;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        width: 20px;
        vertical-align: middle;
        height: 30px;
        position: absolute;
        font: 20px;
        padding-right: 35px;
        color: gray;
        width: 300px;
        border: 1px solid #109D59;
        background-color: white;
        right: 50%;
        left: 40%;

    }
    /* Position panel */
 .panel {
      position: absolute;
      top: 0;
 max-width:750px;
 max-height:650px;
 min-width:250px;
 min-height:300px;
      padding: 20px;
      background-color: white;
      color: #fff;
      box-shadow: inset 0 0 3px 3px gray;
      transform: translateX(-329px);
      overflow-y:auto;
      overflow-x:hidden;
    }
    #imt {
    margin-left:-8px;
    }
</style>
<div id="loading" class="loading">
</div>

<div class="insider">
    <div id="map" class="map">
        @*      <div id="inputText" class="input-group" style="text-align:center;right:50%;left:30%;width:400px;">
                        <input type="text" id="txtSearch" name="txtSearch" class="form-control"  aria-label="..." placeholder="Nhập từ khóa" style="width: 330px;" />
                        <button type="button" id="btnSearch" onclick="SearchOnTreeView()" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-search"></i></button>
                    
                            </div>*@
         <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left" style="top: 54px">
                <div class="leaflet-control-slidemenu leaflet-bar leaflet-control">
                    <a class="leaflet-bar-part leaflet-bar-part-single" title="TreeView">
                        <img src="@Url.Content("~/Content/NewEtool/img/next.png")"  />
                    </a>
                </div>
            </div>
        </div>
        <input type='text' name="txtSearch" class="form-control" placeholder='Search...' id='txtSearch' />
                             <div style="margin-left: 10px"  class="panel">
                                 <div style="float: right;right:-20px;background-color: #109D59; top: 30px; width: 12px; height: 70px; border-radius: 2px; position: relative">
                                                                       <button class="leaflet-menu-close-button" style="line-height: 37px;" >
                <img src="@Url.Content("~/Content/NewEtool/img/per.png")" style="margin-left:-9px;"/></button>
                                     </div>

                        @Html.Action("TreeViewSelected")
                    </div>
    </div>
    <button id="lblnote" class="toggle-button mini btn-transparent mt-10">
        <i class="icon-up icon-black" title="Legend"></i>
    </button>
    <div id="notePanel">
        <table style="background-color: #DBF9E1">
            <tr>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i1.png")" style="margin-left: 5px;" />
                    <span>Đang bảo dưỡng</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i2.png")" style="margin-left: 5px;" />
                    <span>Tắt máy bảo dưỡng</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i3.png")" style="margin-left: 5px;" />
                    <span>Đang di chuyển</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i4.png")" style="margin-left: 5px;" />
                    <span>Tắt máy di chuyển</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i5.png")" style="margin-left: 5px;" />
                    <span>Đang khoan</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i6.png")" style="margin-left: 5px;" />
                    <span>Tắt máy khoan</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i7.png")" style="margin-left: 5px;" />
                    <span>Đang cẩu</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i8.png")" style="margin-left: 5px;" />
                    <span>Tắt máy cẩu</span>
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Icon/markers/i9.png")" style="margin-left: 5px;" />
                    <span>Không xác định</span>
                </td>
            </tr>
        </table>
    </div>

</div>
<div id="DevicePopupTemplete" style="display: none; z-index: 999999; min-width: 750px; opacity: 1; max-height: 450px;">
    <div class="tab-header">
        <ul id="ul-tab" class="nav nav-tabs" style="text-transform: uppercase;">
            <li class="active"><a data-toggle="tab" href="#info">Thông tin Chung</a></li>
            <li><a data-toggle="tab" href="#detail" onclick="RenderBaoCao('0')">Thông Tin Báo Cáo</a></li>
            <li><a data-toggle="tab" href="#activity" onclick="RenderHoatDong('0')">Theo Dõi Hoạt Động (Chip)</a></li>
            <li><a data-toggle="tab" href="#dichuyen" onclick="RenderDiChuyen('0')">Lịch sử di chuyển</a></li>
            <li><a data-toggle="tab" href="#baoduong" onclick="RenderBaoDuong('0');">Bảo dưỡng sửa chửa</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="info" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-4">
                    <img id="avatar" style="max-width: 200px; max-height: 280px; padding-top: 36px; padding-bottom: 12px; padding-left: 20px" src="http://map.dfsglobjjal.vn/ImageTB/71691be9-cf4c-4829-9ab5-0705903cdf82.jpg" />
                </div>
                <div class="col-sm-8">
                    <div class="info" style="height: 250px">
                        <h3 id="TenThietBi">@info.TenThietBi</h3>
                        <table id="tb1">
                            <tbody>
                                <tr>
                                    <td class="text-left">Tên Thiết Bị</td>
                                    <td><span id="TenThietBi"></span></td>

                                </tr>
                                <tr>
                                    <td class="text-left">Trạng Thái</td>
                                    <td><span id="TrangThai"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Tình Trạng</td>
                                    <td><span id="TinhTrang"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Công Trình</td>
                                    <td><span id="TenCongTrinh"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Thay Dầu Lần Cuối</td>
                                    <td><span id="TDC"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Thay Lọc Lần Cuối</td>
                                    <td><span id="TLC"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Số Giờ Thay Dầu</td>
                                    <td><span id="GTD">@info.TenCongTrinh</span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Số Giờ Thay Lọc</td>
                                    <td><span id="GTL">@info.TenCongTrinh</span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Ngày Đến</td>
                                    <td><span id="NgayDen">@info.TenCongTrinh</span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Số Ngày Ở Công Trình</td>
                                    <td><span id="SNCT">@info.TenCongTrinh</span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Đơn Giá Thuê</td>
                                    <td><span id="GiaThue"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left">Thành Tiền Hiện Tại</td>
                                    <td><span id="ThanhTien"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*        <div id="detail" class="tab-pane fade in">
              <div class="row">
                <div class="info">
            <h3 id="TenThietBi">@info.TenThietBi</h3>
            <table class="tablesorter" id="tbDetail">
                <thead>
                    <tr>
                        <th>Loại Hình</th>
                        <th>Vị Trí Hiện Tại</th>
                        <th>Ngày Đến</th>
                        <th>Tổng Số Ngày Ở Công Trình</th>
                        <th>Don Gia Thue</th>
                        <th>Thành Tiền Hiện Tại</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td><span id="LoaiHinh">@info.LoaiHinh</span></td>
                        <td><span id="TenCongTrinh">@info.TenCongTrinh</span></td>
                        <td><span id="ThoiGianVao">@(info.ThoiGianVao.HasValue ? info.ThoiGianVao.Value.ToShortDateString() : "")</span></td>
                        <td><span id="NgayOCongTrinh" style="text-align: right">@((info.NgayOCongTrinh.HasValue && info.NgayOCongTrinh != null) ? info.NgayOCongTrinh + "Ngày" : "")</span></td>
                        <td><span id="GiaThue">@String.Format("{0:C}", @info.GiaThue)</span></td>
                        <td><span id="ThanhTiend">@String.Format("{0:C}", info.ThanhTien)</span></td>
                    </tr>

                </tbody>
            </table>

                     </div>
            </div>
            <div class="row" style="padding-top: 3px;">
                <span>Hình ảnh báo cáo </span>
                <hr style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px; margin-right: 2px" />
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img id="image1" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px" src="~/Content/img1.jpg" />
                    <div><span style="margin-left: 10px">Ngày: 22/05/2016</span></div>

                </div>
                <div class="col-xs-4">
                    <img id="image2" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;" src="~/Content/img2.jpg" />
                    <div><span style="margin-left: 10px">Ngày: 2/11/2016</span></div>
                </div>
                <div class="col-xs-4">
                    <img id="image3" style="max-width: 140px; max-height: 220px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px" src="~/Content/img3.jpg" />
                    <div><span style="margin-left: 10px">Ngày: 13/12/2016</span></div>
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>*@
        <div id="detail" class="tab-pane">
        </div>
        <div id="activity" class="tab-pane">
        </div>
        <div id="dichuyen" class="tab-pane">
        </div>
        <div id="baoduong" class="tab-pane">
        </div>
    </div>
</div>
<!-- Modal -->
<div id="HoatdongModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="HoatDongModalBody" class="modal-body">
            </div>
        </div>

    </div>
</div>
<div id="BaoCaoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Hình ảnh báo cáo</h3>
            </div>
            <div id="BaoCaoBody" class="modal-body">
                <div class="row">
                    <div>
                        <table class="box-header">
                            <tr>
                                <td>Thời gian: <span id="bcThoiGian">sdsđ</span></td>
                                <td>Tình trạng: <span id="bcTinhTrang">sdsd</span></td>
                            </tr>
                            <tr>
                                <td>Trạng thái: <span id="bcTrangThai">sdsd</span></td>
                                <td>Mô tả: <span id="bcMoTa">sdsd</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <img id="bcImage" style="max-width: 250px; max-height: 400px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;" src="~/Content/img2.jpg" />
                </div>
                @*<div class="row" style="text-align:center">
                        <ul class="m-0">
                            <li class="">
                                <a href="#" title="prev">
                                    <img src="@Url.Content("~/Content/NewEtool/img/per.png")" class="prev" />
                                </a>
                                <span class="pagedisplay"></span>
                                <a href="#" title="next">
                                    <img src="@Url.Content("~/Content/NewEtool/img/next.png")" class="next" />
                                </a>
                            </li>
                        </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var PathFolderImage = '@System.Configuration.ConfigurationManager.AppSettings["PathFolderImage"].ToString()';
 
    $(document).ready(function () {
        var newCss = {  'transform': 'translateX(-9px)'};
        var newCss2 = {  'transition': 'transform .3s'};
        var newCss3 = {  'z-index': '9999999999999'};  


        $('#txtSearch').keypress(function (e) { 
            var key = e.which; 
            if(key == 13)
            {
                SearchOnTreeView();
            }
        });
        //$('#left-link').panelslider();
        $('body').on('click', '.leaflet-control-slidemenu .leaflet-bar-part-single', function () {
            $('.panel').css(newCss);
            $('.panel').css(newCss2)
            $('.panel').css(newCss3)

            //$('.leaflet-menu').css("display","block");
            //$('#scrolldiv').css("display","block");
        });
        $('body').on('click', '.leaflet-menu-close-button', function () {
            var newCss = {  'transform': 'translateX(-429px)'};
            var newCss2 = {  'transition': 'transform .3s'};
            var newCss3 = {  'z-index': '9999999999999'}; 
            $('.panel').css(newCss);
            $('.panel').css(newCss2)
            $('.panel').css(newCss3)

        });
        $('body').on('click', '#table-report > table > tbody > tr', function () {
            var listtd = $(this).children('td');
            var thoiGian = listtd[1];
            var trangThai = listtd[2];
            var tinhTrang = listtd[3];
            var moTa = listtd[4];
            var hinhanh = listtd[5];

            var htmlData = '';
            var data = $('#BaoCaoBody');
            data.find('span[id="bcThoiGian"]').html(thoiGian.outerText);
            data.find('span[id="bcTinhTrang"]').html(tinhTrang.outerText);
            data.find('span[id="bcTrangThai"]').html(trangThai.outerText);
            data.find('span[id="bcMoTa"]').html(moTa.outerText);
            data.find('img[id="bcImage"]').attr('src', PathFolderImage + hinhanh.outerText);
            
            var elm = data[0];
            htmlData += elm.outerHTML;
            $('#BaoCaoBody').html(htmlData);
            $("#BaoCaoModal").modal('show');
        });
    });
    

    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
    function getFormattedCurrency(num) {
        num = num.toFixed(2)
        var cents = (num - Math.floor(num)).toFixed(2);
        return Math.floor(num).toLocaleString() + '.' + cents.split('.')[1];
    }
    
    var mapData = [];
    mapData.LatLongBounds = [];
    mapData.LayerDevice = L.layerGroup();
    var map = new L.Map('map', {
        center: [16, 106],
        zoom: 7,
        minZoom: 0,
        maxZoom: 23,
        contextmenu: true,
        contextmenuWidth: 240,
        contextmenuItems: [{
            text: 'Initial'
        }
        ]
    }
    );
    
    var googleLayer = new L.Google('ROADMAP');
    map.addLayer(googleLayer);
    

    function MapAutoFit() {
        if (mapData.LatLongBounds.length > 0) {
            var bounds = new L.LatLngBounds(mapData.LatLongBounds);
            map.fitBounds(bounds);
        }
    }

    function FocusOnContrucstion(id, isParent){
        $.ajax({
            url:'../Monitoring/GetThietBi',
            type:'POST',
            dataType:'json',
            data:{"equipmentId":id, "isParent": isParent},
            success:function(data){
                mapData.LatLongBounds = []
                BoundEquiqments(data.info);
            }
        });
    }
    function BoundEquiqments(data){
        if (data == null)
            return false;
        var n = data.length;
        if (n == 0)
            return false;
        for (var i = 0; i < n; i++) {
            var lat =data[i].LatitudeHienTai;
            var  lg = data[i].LongtitudeHienTai;
            if(lat != null && lg !=null){
                var latlng = L.latLng(lat, lg);
                mapData.LatLongBounds.push(latlng);
            }
        }
        MapAutoFit();
    }
    $(document).ready(function () {
        

        var data = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        for (var i in data) {
            $.ajax({
                url:'../Monitoring/GetInfoDeviceById',
                type:'POST',
                dataType:'json',
                data:{"id":data[i].ThietBiId},
                success:function(meta){
                    RenderDevice(meta);
                }
            });
        }
        $('#lblnote').on('click', function () {
            $('#notePanel').toggle();
        });
    });
        function RenderDevice(c){
            // var a = c.length;
            //  for (var i = 0; i < a; i++) { 
            var strIconUrl = 'i9';
            if(c.TrangThaiHienTai == 3){
                strIconUrl = 'i1';
            }else if(c.TrangThaiHienTai == 4){
                strIconUrl = 'i2';
            }else if(c.TrangThaiHienTai == 5){
                strIconUrl = 'i3';
            }else if(c.TrangThaiHienTai == 6){
                strIconUrl = 'i4';
            }else if(c.TrangThaiHienTai == 7){
                strIconUrl = 'i5';
            }else if(c.TrangThaiHienTai == 8){
                strIconUrl = 'i6';
            }else if(c.TrangThaiHienTai == 9){
                strIconUrl = 'i7';
            }else if(c.TrangThaiHienTai == 10){
                strIconUrl = 'i8';
            } else{
                strIconUrl = 'i9';
            }
            RenderMarker([c.Latitude, c.Longitude], c.TenThietBi, RederPopupDevice(c), strIconUrl, mapData.LayerDevice);
            //}
            if(map.hasLayer(mapData.LayerDevice)==false){
                map.addLayer(mapData.LayerDevice);
            }

        }
        function RederPopupDevice(item)
        {
            var btnxemHoatDong = '<button onclick="RenderHoatDong(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
            var btnxemDiChuyen = '<button onclick="RenderDiChuyen(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
            var btnxemBaoDuong = '<button onclick="RenderBaoDuong(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
            var btnxemBaoCao = '<button onclick="RenderBaoCao(\''+ item.ThietBiId + '\');"><i class="icon-submit" title="Xem báo cáo"></i>Xem</button>'
            var ultab = '<li class="active"><a data-toggle="tab" href="#info">Thông tin Chung</a></li>';
            ultab +=    '<li><a data-toggle="tab" href="#detail" onclick="RenderBaoCao(\''+ item.ThietBiId + '\');">Thông Tin Báo Cáo</a></li>';
            ultab +=    '<li><a data-toggle="tab" href="#activity" onclick="RenderHoatDong(\''+ item.ThietBiId + '\');">Theo Dõi Hoạt Động (Chip)</a></li>';
            ultab +=    '<li><a data-toggle="tab" href="#dichuyen" onclick="RenderDiChuyen(\''+ item.ThietBiId + '\');">Lịch sử di chuyển</a></li>';
            ultab +=    '<li><a data-toggle="tab" href="#baoduong" onclick="RenderBaoDuong(\''+ item.ThietBiId + '\');">Bảo dưỡng sửa chửa</a></li>';


            var htmlData = '';
            var id = item.ThietBiId;
            var matadata = $('#DevicePopupTemplete');
            var data = matadata.clone();
            data.css('display','');

            data.find('h3[id="TenThietBi"]').html(item.TenThietBi);
            data.find('span[id="TenThietBi"]').html(item.TenThietBi);
            data.find('span[id="TrangThai"]').html(item.StrTrangThai);
            data.find('span[id="TinhTrang"]').html(item.strTinhTrang);
            data.find('span[id="TenCongTrinh"]').html(item.TenCongTrinh);
            data.find('span[id="TDC"]').html(item.ThayDauLanCuoi);
            data.find('span[id="TLC"]').html(item.ThayLocLanCuoi);
            data.find('span[id="GTD"]').html(item.SoGioThayDau);
            data.find('span[id="GTL"]').html(formatDate(item.SoGioThayLoc));
            data.find('span[id="NgayDen"]').html(item.ThoiGianVao);
            data.find('span[id="SNCT"]').html(item.NgayOCongTrinh );
            data.find('span[id="GiaThue"]').html(item.GiaThue + ' VNĐ');
            data.find('span[id="ThanhTien"]').html(item.ThanhTien + ' VNĐ');
            data.find('ul[id="ul-tab"]').html(ultab);
            data.find('div[id="btn-xemHoatDong"]').html(btnxemHoatDong); 
            data.find('div[id="btn-xemDiChuyen"]').html(btnxemDiChuyen);
            data.find('div[id="btn-xemBaoDuong"]').html(btnxemBaoDuong);
            var imgavatar = PathFolderImage + item.HinhAnhAvatar;
            data.find('img[id="avatar"]').attr('src', imgavatar);

            var elm = data[0];
            htmlData += elm.outerHTML;
            return htmlData;
        }
        function RenderBaoDuong(thietbiId)
        {
            var strFromDate = $('#strFromDateBaoDuong').val();
            if(strFromDate == undefined)
            {
                strFromDate = '';
            }
            var strToDate = $('#strToDateBaoDuong').val();
            if(strToDate == undefined)
            {
                strToDate = '';
            }
            $("#baoduong").load('@(Url.Action("DeviceModify", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
        }
        function RenderDiChuyen(thietbiId)
        {
            var strFromDate = $('#strFromDateDiChuyen').val();
            if(strFromDate == undefined)
            {
                strFromDate = '';
            }
            var strToDate = $('#strToDateDiChuyen').val();
            if(strToDate == undefined)
            {
                strToDate = '';
            }
            $("#dichuyen").load('@(Url.Action("DeviceMove", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
        }
        function RenderBaoCao(thietbiId)
        {
            var strFromDate = $('#strFromDateBaoCao').val();
            if(strFromDate == undefined)
            {
                strFromDate = '';
            }
            var strToDate = $('#strToDateBaoCao').val();
            if(strToDate == undefined)
            {
                strToDate = '';
            }
            $("#detail").load('@(Url.Action("DeviceReport", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function RenderHoatDong(thietbiId)
    {
        $("#activity").load('@(Url.Action("DeviceActivity", "Monitoring"))?thietBiID=' + thietbiId);
    }
    function showPopup(thietbiId)
    {
        var strFromDate = $('#strFromDateHoatDong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }

        var strToDate = $('#strToDateHoatDong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#HoatDongModalBody").load('@(Url.Action("PopupActivity", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
        $("#HoatdongModal").modal('show');
    }

    function showPopupReport(){
        $("#loading").css("display", "none");
        $("#ReportBody").load('@Url.Action("PopupReport", "Monitoring")');
        $("#ReportModal").modal('show');
        $("#loading").css("display", "none");
    }

    function formatDate(date) {
        if(date){
            var d = new Date(parseInt(date.substr(6)));
            dformat = [ (d.getMonth()+1).padLeft(),
                        d.getDate().padLeft(),
                        d.getFullYear()].join('/')+
                        ' ' +
                      [ d.getHours().padLeft(),
                        d.getMinutes().padLeft(),
                        d.getSeconds().padLeft()].join(':');
            return dformat;
        }else{
            return '';
        }
        
    }
    function SearchOnTreeView() {
        $("#loading").show();
        window.location = '@Url.Action("Device", "Monitoring")' + '?strSearch=' + $('#txtSearch').val();     
    }
    Number.prototype.padLeft = function(base,chr){
        var  len = (String(base || 10).length - String(this).length)+1;
        return len > 0? new Array(len).join(chr || '0')+this : this;
    }
    // Expand TreeView
    var strSearch = window.location.href;
    if (strSearch.indexOf("strSearch=") != -1) {
        $('.leaflet-menu').css('left', '0px');
        $('.leaflet-menu').css("display","block")
        $('#scrolldiv').css("display","block");
        treeView.ExpandAll();           
    }
    $(document).ajaxStart(function () {
        $("#loading").show();
    });
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
    $(document).ajaxError(function () {
        //alert("ajax có vấn đề");
    });

    //var slideMenu = L.control.slideMenu('', {position: 'topright', width: '250px', height: '400px'}).addTo(map);
    //slideMenu.setContents('<div>sdsdsdsd</div>');
</script>
