@model WebManageFridgeMQTT.Models.DeviceInfoMV
@{
    ViewBag.Title = "MapDevice";
    Layout = "~/Views/Shared/_MapLayout.cshtml";

    WebManageFridgeMQTT.Models.Sp_GetInfoDeviceResult info = Model.ListDeviceInfo[0];
}
@section Scripts
    {
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.iconlabel.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.label.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/leaflet.awesome-markers.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/L.Control.SlideMenu.css")" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet-google.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.iconlabel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Marker.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Control.MiniMap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Map.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.markercluster-src.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/GeoFridge.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/L.Control.SlideMenu.js")"></script>

}
<script>
    $(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    })
</script>
<!-- define a DIV into which the map will appear. Make it take up the whole window -->
<style>
    #ImageContainer {
        width:490px; 
        overflow-y:scroll; 
        position:relative;
        height: 420px;
    }

    .ImageContainerBlock {
        /*width: 100px;*/
        background-color: #fff;
        margin: 10px;
        float: left;
    }
</style>
<div id="loading" class="loading">
</div>
<div class='insider'>
    <div style="width:100%; height:100%" id="map"></div>
    @*<input type='text' name="txtSearch" class="form-control" placeholder='Search...' id='txtSearch' />*@
    <button id="lblnote" class="toggle-button button"></button>
    <div id="notePanel">
        @*<div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_red.png")" />
            <span>Đang bảo dưỡng</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_red.png")" />
            <span>Tắt máy bảo dưỡng</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_purple.png")" />
            <span>Đang di chuyển</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_red.png")" />
            <span>Tắt máy di chuyển</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_blue.png")" />
            <span>Đang khoan</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_brown.png")" />
            <span>Tắt máy khoan</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_gray.png")" />
            <span>Đang cẩu</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_green.png")" />
            <span>Tắt máy cẩu</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_orange.png")" />
            <span>Không xác định</span>
        </div>*@
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_gray.png")" />
            <span>Tắt máy</span>
        </div>
        <div class="note_item col-xs-3">
            <img src="@Url.Content("~/Content/Icon/markers/ic_map_blue.png")" />
            <span>Đang nổ máy</span>
        </div>
    </div>
    <button id="treeviewToggle" class="toggle-button button"></button>
    <div id="treeviewPanel">
        <div class="treeviewHeader">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li id="tabDevice" role="presentation" class="active">
                    <a href="#devices" aria-controls="devices" role="tab" data-toggle="tab">
                        <h3>THIẾT BỊ</h3>
                    </a>
                </li>
                <li id="tabCongTrinh" role="presentation">
                    <a href="#contruction" aria-controls="contruction" role="tab" data-toggle="tab">
                        <h3>CÔNG TRÌNH</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane magin-padding active" id="devices">
                <div id="headerNameCongTrinh" class="header row" style="display:none">
                    <a href="javascript:void(0)" onclick="ReturnCongTrinh()">
                        <i class="fa fa-caret-left"></i>
                    </a>
                    @*<div id="headerStt" class="route-number color-white">
                            01
                        </div>*@
                    <div id="headerNameCT" class="route-name color-white font-normal ng-binding">
                        Bến Thành- BX Chợ Lớn
                    </div>
                </div>
                <div class="treeviewSearch">
                    <input id="DeviceInput" name="DeviceInput" type="text" value="@ViewData["inputDevice"]" placeholder="Tìm thiết bị...">
                </div>
                <div id="congtrinh-body">
                    <div id="TreeCongTrinh" class="contruction_list">
                        @if (Model.ListCongTrinh != null)
                        {
                            @Html.Partial("TreeCongTrinhPartial", Model.ListCongTrinh)
                        }
                    </div>
                </div>
                <div id="devices-body" style="display:none">
                    @Html.Partial("TreeViewDevice", Model.TreeDevice)
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="contruction">
                <div class="treeviewSearch">
                    <form action="">
                        <input name="CongTrinhInput" type="text" placeholder="Tìm công trình...">
                    </form>
                </div>
                <div id="TreeCongTrinh2" class="contruction_list">
                    @if (Model.ListCongTrinh != null)
                    {
                        @Html.Partial("CongTrinhPartial", Model.ListCongTrinh)
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="DevicePopupTemplete" class="PopupTemplete" style="display: none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="ul-tab">
            <li role="presentation" class="active"><a href="#info" aria-controls="Thông tin" role="tab" data-toggle="tab">Thông tin</a></li>
            <li role="presentation"><a href="#detail" aria-controls="Báo Cáo" role="tab" data-toggle="tab" onclick="RenderBaoCao('816AF6D7-4793-4D25-99B7-EA60E37EA41F')">Báo Cáo</a></li>
            <li role="presentation"><a href="#activity" aria-controls="Theo Dõi Hoạt Động (Chip)" role="tab" data-toggle="tab" onclick="RenderHoatDong('816AF6D7-4793-4D25-99B7-EA60E37EA41F')">Theo Dõi Hoạt Động (Chip)</a></li>
            <li role="presentation"><a href="#dichuyen" aria-controls="Lịch sử di chuyển" role="tab" data-toggle="tab" onclick="RenderDiChuyen('816AF6D7-4793-4D25-99B7-EA60E37EA41F')">Lịch sử di chuyển</a></li>
            <li role="presentation"><a href="#baoduong" aria-controls="Bảo dưỡng sửa chửa" role="tab" data-toggle="tab" onclick="RenderBaoDuong('816AF6D7-4793-4D25-99B7-EA60E37EA41F');">Bảo dưỡng sửa chửa</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="info" role="tabpanel" class="tab-pane active">
                <div class='row'>
                    <div class="col-sm-4">
                        <div class="device_img">
                            <img id="avatar" src="http://map.dfsglobal.vn/ImageTB/71691be9-cf4c-4829-9ab5-0705903cdf82.jpg">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="info" style="">
                            <h3 id="TenThietBi">Máy Khoan BG25E</h3>
                            <table id="tb1">
                                <tbody>
                                    <tr>
                                        <td class="text-left">Tên Thiết Bị</td>
                                        <td><span id="TenThietBi">Máy Khoan BG25E</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Trạng Thái</td>
                                        <td><span id="TrangThai">Không xác định</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Tình Trạng</td>
                                        <td><span id="TinhTrang">Không Hoạt Động</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Công Trình</td>
                                        <td><span id="TenCongTrinh">CÔNG TRÌNH KHÁCH SẠN THÀNH THẮNG</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Thay Dầu Lần Cuối</td>
                                        <td class="text-right"><span id="TDC"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Thay Lọc Lần Cuối</td>
                                        <td class="text-right"><span id="TLC"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Số Giờ Thay Dầu</td>
                                        <td class="text-right"><span id="GTD"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Số Giờ Thay Lọc</td>
                                        <td class="text-right"><span id="GTL"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Ngày Đến</td>
                                        <td class="text-right"><span id="NgayDen"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Số Ngày Ở Công Trình</td>
                                        <td class="text-right"><span id="SNCT">0 Ngày</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Đơn Giá Thuê</td>
                                        <td class="text-right"><span id="GiaThue">350,000,000 VNĐ</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Thành Tiền Hiện Tại</td>
                                        <td class="text-right"><span id="ThanhTien">0 VNĐ</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detail" role="tabpanel" class="tab-pane"></div>
            <div id="activity" role="tabpanel" class="tab-pane"></div>
            <div id="dichuyen" role="tabpanel" class="tab-pane"></div>
            <div id="baoduong" role="tabpanel" class="tab-pane"></div>
        </div>
    </div>
    <div id="CongTrinhPopupTemplete" class="PopupTemplete" style="display: none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="ul-tab">
            <li role="presentation" class="active"><a href="#taichinh" aria-controls="Báo Cáo Tài Chính" role="tab" data-toggle="tab">Báo Cáo Tài Chính</a></li>
            <li role="presentation"><a href="#sanluong" aria-controls="Báo Cáo Sản Lượng" role="tab" data-toggle="tab" onclick="RenderSanLuong('')">Báo Cáo Sản Lượng</a></li>
            <li role="presentation"><a href="#chiphidevice" aria-controls="Báo Cáo Chi Phí Thiết Bị" role="tab" data-toggle="tab" onclick="RenderCPDevice('')">Báo Cáo Chi Phí Thiết Bị</a></li>
            <li role="presentation"><a href="#chiphivattu" aria-controls="Báo Cáo Chi Phí Vật Tư" role="tab" data-toggle="tab" onclick="RenderCPVatTu('')">Báo Cáo Chi Phí Vật Tư</a></li>
            <li role="presentation"><a href="#thicong" aria-controls="Báo Cáo Tình Hình Thi Công" role="tab" data-toggle="tab" onclick="RenderThiCong('');">Báo Cáo Tình Hình Thi Công</a></li>
            <li role="presentation"><a href="#nhanvien" aria-controls="Danh Sách Nhân Viên" role="tab" data-toggle="tab" onclick="RenderNhanVien('');">Danh Sách Nhân Viên</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="taichinh" role="tabpanel" class="tab-pane active"></div>
            <div id="sanluong" role="tabpanel" class="tab-pane"></div>
            <div id="chiphidevice" role="tabpanel" class="tab-pane"></div>
            <div id="chiphivattu" role="tabpanel" class="tab-pane"></div>
            <div id="thicong" role="tabpanel" class="tab-pane"></div>
            <div id="nhanvien" role="tabpanel" class="tab-pane"></div>
        </div>
    </div>
</div>
<div id="inlineBaoCao" style="width:450px;display: none;">
    <h3>Hình ảnh báo cáo</h3>
    <div id='BaoCaoBody'>
        <div class="row">
            <div class="col-sm-6">
                <strong>Thời gian</strong>
                <span id="bcThoiGian">01/02/2016 20:45 </span>
            </div>
            <div class="col-sm-6">
                <strong>Tình trạng:</strong>
                <span id="bcTinhTrang">Hư hỏng</span>
            </div>
            <div class="col-sm-6">
                <strong>Trạng thái:</strong>
                <span id="bcTrangThai">Không hoạt động</span>
            </div>
            <div class="col-sm-6">
                <strong>Mô tả</strong>
                <span id="bcMoTa">buc tic nang can</span>
            </div>
        </div>
        <div id=ImageContainer>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="HoatdongModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Hình ảnh báo cáo</h3>
            </div>
            <div id="HoatDongModalBody" class="modal-body">
            </div>
        </div>

    </div>
</div>
<div id="CocDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="min-width:800px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Chi tiết thi công cọc</h3>
            </div>
            <div id="CocDetailModalBody" class="modal-body">
            </div>
        </div>

    </div>
</div>
<script type='text/javascript'>
    var currentDeviceID = '';
    var PathFolderImage = '@System.Configuration.ConfigurationManager.AppSettings["PathFolderImage"].ToString()';
    var mapData = [];
    mapData.LatLongBounds = [];
    mapData.LayerDevice = L.layerGroup();
    mapData.LayerCongTrinh = L.layerGroup();
    var map = new L.Map('map', {
        center: [16, 106],
        zoom: 7,
        minZoom: 0,
        maxZoom: 23,
        contextmenu: true,
        contextmenuWidth: 240,
        contextmenuItems: [{
            text: 'Initial'
        }
        ]
    }
    );

    var googleLayer = new L.Google('ROADMAP');
    map.addLayer(googleLayer);
    map.zoomControl.setPosition('bottomright');
    // js tree
    $('.treeviewContent').jstree();
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loading").show();
        });
        $(document).ajaxStop(function () {
            $(".loading").hide();
        });
        var $treeView = $('#treeviewToggle, #treeviewPanel');
        $('#treeviewToggle').on('click', function () {
            $treeView.toggleClass('toggled');
        });
        var $notePanel = $('#lblnote, #notePanel, .leaflet-bottom');
        $('#lblnote').on('click', function () {
            $notePanel.toggleClass('toggled');
        });
        $('.fancybox').fancybox({
            tpl: {
                closeBtn: '<a title="Close" class="fancybox-item fancybox-close" href="javascript:;">×</a>'
            }
        });


        var data = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ListDeviceInfo));
        for (var i in data) {
            $.ajax({
                url:'../Monitoring/GetInfoDeviceById',
                type:'POST',
                dataType:'json',
                data:{"id":data[i].ThietBiId},
                success:function(meta){
                    RenderDevice(meta);
                }
            });
        }

        var dataCongTrinh = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ListCongTrinh));
        for (var i in dataCongTrinh) {
            RenderCongTrinh(dataCongTrinh[i]);
        }

        $('#tabCongTrinh').on('click', function(){
            map.removeLayer(mapData.LayerDevice);
            if(map.hasLayer(mapData.LayerCongTrinh) == false){
                map.addLayer(mapData.LayerCongTrinh);
            }
        });
        $('#tabDevice').on('click', function(){
            map.removeLayer(mapData.LayerCongTrinh);
            if(map.hasLayer(mapData.LayerDevice) == false){
                map.addLayer(mapData.LayerDevice);
            }
        });
        

        $('body').on('click', '#table-report > table > tbody > tr', function () {
            var listtd = $(this).children('td');
            var thoiGian = listtd[1];
            var trangThai = listtd[2];
            var tinhTrang = listtd[3];
            var moTa = listtd[4];
            var hinhanh = listtd[5];

            var htmlData = '';
            var data = $('#BaoCaoBody');
            data.find('span[id="bcThoiGian"]').html(thoiGian.outerText);
            data.find('span[id="bcTinhTrang"]').html(tinhTrang.outerText);
            data.find('span[id="bcTrangThai"]').html(trangThai.outerText);
            data.find('span[id="bcMoTa"]').html(moTa.outerText);
            //alert(hinhanh.outerText);
            //data.find('img[id="bcImage"]').attr('src', PathFolderImage + hinhanh.outerText);

            var img = '';
            var res = hinhanh.outerText.split(',');
            res.forEach(function(item) {
                // do something with `item`
                img += '<div class="ImageContainerBlock"><img height="200px" src="'+ PathFolderImage + item +'" alt="" title=""></div>'
            });
            data.find('div[id="ImageContainer"]').html(img);

            var elm = data[0];
            htmlData += elm.outerHTML;
            $('#BaoCaoBody').html(htmlData);
            //$("#inlineBaoCao").show();
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                var inputDevice = $('#DeviceInput').val();
                $.ajax({
                    url: '../Monitoring/SearchDeviceBy',
                    type: 'POST',
                    dataType: 'html',
                    data: { "inputDevice": inputDevice },
                    success: function (data) {
                        $("#devices-body").html(data);
                        $('#headerNameCT').html('Back');
                        $('#headerNameCongTrinh').show();
                        $('#devices-body').show();
                        $('#congtrinh-body').hide();
                    }
                });
            }
        });
    });




    function RenderDevice(c){
        // var a = c.length;
        //  for (var i = 0; i < a; i++) {
        var strIconUrl = 'ic_map_gray';
        if(c.TrangThaiHienTai == 1){
            strIconUrl = 'ic_map_blue';
        }else if(c.TrangThaiHienTai == 2){
            strIconUrl = 'ic_map_gray';
        }else if(c.TrangThaiHienTai == 3){
            strIconUrl = 'ic_map_brown';
        }else if(c.TrangThaiHienTai == 4){
            strIconUrl = 'ic_map_gray';
        }else if(c.TrangThaiHienTai == 5){
            strIconUrl = 'ic_map_green';
        }else if(c.TrangThaiHienTai == 6){
            strIconUrl = 'ic_map_orange';
        }else if(c.TrangThaiHienTai == 7){
            strIconUrl = 'ic_map_purple';
        }else if(c.TrangThaiHienTai == 8){
            strIconUrl = 'ic_map_red';
        }else {
            strIconUrl = 'ic_map_gray';
        }

        RenderMarker(c.ThietBiId, [c.Latitude, c.Longitude], c.TenThietBi, RederPopupDevice(c), strIconUrl, mapData.LayerDevice);

        if(map.hasLayer(mapData.LayerDevice)==false){
            map.addLayer(mapData.LayerDevice);
        }

    }
    function RederPopupDevice(item)
    {
        //var id = currentDeviceID;
        var htmlData = '';
        var id = item.ThietBiId;
        var matadata = $('#DevicePopupTemplete');
        var data = matadata.clone();
        data.css('display','');
        var ultab = '';
        ultab += '<li role="presentation" class="active"><a href="#info" aria-controls="Thông tin" role="tab" data-toggle="tab">Thông tin</a></li>';
        ultab += '<li role="presentation"><a role="tab" data-toggle="tab" href="#detail" onclick="RenderBaoCao(\'' + id + '\');">Thông Tin Báo Cáo</a></li>';
        ultab += '<li role="presentation"><a role="tab" data-toggle="tab" href="#activity" onclick="RenderHoatDong(\'' + id + '\');">Theo Dõi Hoạt Động (Chip)</a></li>';
        ultab += '<li role="presentation"><a role="tab" data-toggle="tab" href="#dichuyen" onclick="RenderDiChuyen(\'' + id + '\');">Lịch sử di chuyển</a></li>';
        ultab += '<li role="presentation"><a role="tab" data-toggle="tab" href="#baoduong" onclick="RenderBaoDuong(\'' + id + '\');">Bảo dưỡng sửa chửa</a></li>';


        $('div#info').addClass("active");

        data.find('h3[id="TenThietBi"]').html(item.TenThietBi);
        data.find('span[id="TenThietBi"]').html(item.TenThietBi);
        data.find('span[id="TrangThai"]').html(item.StrTrangThai);
        data.find('span[id="TinhTrang"]').html(item.strTinhTrang);
        data.find('span[id="TenCongTrinh"]').html(item.TenCongTrinh);
        data.find('span[id="TDC"]').html(item.ThayDauLanCuoi);
        data.find('span[id="TLC"]').html(item.ThayLocLanCuoi);
        data.find('span[id="GTD"]').html(item.SoGioThayDau);
        data.find('span[id="GTL"]').html(formatDate(item.SoGioThayLoc));
        data.find('span[id="NgayDen"]').html(item.ThoiGianVao);
        data.find('span[id="SNCT"]').html(item.NgayOCongTrinh );
        data.find('span[id="GiaThue"]').html(item.GiaThue + ' VNĐ');
        data.find('span[id="ThanhTien"]').html(item.ThanhTien + ' VNĐ');
        data.find('ul[id="ul-tab"]').html(ultab);
        var imgavatar = PathFolderImage + item.HinhAnhAvatar;
        data.find('img[id="avatar"]').attr('src', imgavatar);

        var elm = data[0];
        htmlData += elm.outerHTML;
        return htmlData;
    }

    function RenderBaoDuong(thietbiId)
    {
        //thietbiId = currentDeviceID;
        var strFromDate = $('#strFromDateBaoDuong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateBaoDuong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#baoduong").load('@(Url.Action("DeviceModify", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }

    function RenderDiChuyen(thietbiId)
    {
        //thietbiId = currentDeviceID;
        var strFromDate = $('#strFromDateDiChuyen').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateDiChuyen').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#dichuyen").load('@(Url.Action("DeviceMove", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }

    function RenderBaoCao(thietbiId)
    {
        //thietbiId = currentDeviceID;
        var strFromDate = $('#strFromDateBaoCao').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateBaoCao').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#detail").load('@(Url.Action("DeviceReport", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }

    function RenderHoatDong(thietbiId)
    {
        //thietbiId = currentDeviceID;
        $("#activity").load('@(Url.Action("DeviceActivity", "Monitoring"))?thietBiID=' + thietbiId);
    }

    function showPopup(thietbiId)
    {
        //thietbiId = currentDeviceID;
        var strFromDate = $('#strFromDateHoatDong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }

        var strToDate = $('#strToDateHoatDong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#HoatDongModalBody").load('@(Url.Action("PopupActivity", "Monitoring"))?thietBiID=' + thietbiId + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
        $("#HoatdongModal").modal('show');
    }

    function showPopupReport(){
        $("#loading").css("display", "none");
        $("#ReportBody").load('@Url.Action("PopupReport", "Monitoring")');
        $("#ReportModal").modal('show');
        $("#loading").css("display", "none");
    }

    function formatDate(date) {
        if(date){
            var d = new Date(parseInt(date.substr(6)));
            dformat = [ (d.getMonth()+1).padLeft(),
                        d.getDate().padLeft(),
                        d.getFullYear()].join('/')+
                        ' ' +
                      [ d.getHours().padLeft(),
                        d.getMinutes().padLeft(),
                        d.getSeconds().padLeft()].join(':');
            return dformat;
        }else{
            return '';
        }
    }


    function FocusDevice(DeviceID)
    {
        currentDeviceID = DeviceID;
        $.ajax({
            url: '../Monitoring/GetThietBi',
            type: 'POST',
            dataType: 'json',
            data: { "equipmentId": DeviceID, "isParent": false },
            success: function (data) {
                mapData.LatLongBounds = []
                BoundEquiqments(data.info);
                RederPopupDevice(data.info);
                mapData.LayerDevice.eachLayer(function (layer) {
                    if (layer.options.options.deviceID == DeviceID) {
                        layer.openPopup();
                    }else{
                        layer.closePopup();
                    }
                })
            }
        });

        //$.ajax({
        //    url:'../Monitoring/GetInfoDeviceById',
        //    type:'POST',
        //    dataType:'json',
        //    data:{"id":DeviceID},
        //    success:function(meta){
        //        RederPopupDevice(meta);
        //    }
        //});
    }

    function BoundEquiqments(data) {
        if (data == null)
            return false;
        var n = data.length;
        if (n == 0)
            return false;
        for (var i = 0; i < n; i++) {
            var lat = data[i].LatitudeHienTai;
            var lg = data[i].LongtitudeHienTai;
            if (lat != null && lg != null) {
                var latlng = L.latLng(lat, lg);
                mapData.LatLongBounds.push(latlng);
            }
        }
        MapAutoFit();
    }

    function MapAutoFit() {
        if (mapData.LatLongBounds.length > 0) {
            var bounds = new L.LatLngBounds(mapData.LatLongBounds);
            map.fitBounds(bounds);
            map.setZoom(13);
        }
    }

    function CongTrinhSelected(elmId, elmName){
        $("#devices-body").load('@(Url.Action("GetDeviceByCongTrinh", "Monitoring"))?congTrinhId=' + elmId);
        $('#headerNameCT').html(elmName);
        $('#headerNameCongTrinh').show();
        $('#devices-body').show();
        $('#congtrinh-body').hide();
    }
    function ReturnCongTrinh(){
        $('#headerNameCongTrinh').hide();
        $('#devices-body').hide();
        $('#congtrinh-body').show();
    }

    
    ///Cong Trinh 
    function RenderCongTrinh(c){
        var strIconUrl = '030';
        if(c.TrangThai == 0){
            strIconUrl = '060';
        }else if(c.TrangThai == 1){
            strIconUrl = '050';
        }
        console.log(c.Latitude + '====' + c.Longitude);
        RenderMarker(c.CongTrinhId, [c.Latitude, c.Longitude], c.TenCongTrinh, RederPopupCongTrinh(c), strIconUrl, mapData.LayerCongTrinh);
        //if(map.hasLayer(mapData.LayerCongTrinh)==false){
        //    map.addLayer(mapData.LayerCongTrinh);
        //}

    }
    function RederPopupCongTrinh(item){
        //var id = currentDeviceID;
        var htmlData = '';
        var id = item.CongTrinhId;
        var matadata = $('#CongTrinhPopupTemplete');
        var data = matadata.clone();
        data.css('display','');
        var ultab = '';
        ultab += '<li role="presentation" class="active"><a href="#taichinh" aria-controls="Báo Cáo Tài Chính" role="tab" data-toggle="tab">Tài Chính</a></li>';
        ultab += '<li role="presentation"><a href="#sanluong" aria-controls="Báo Cáo Sản Lượng" role="tab" data-toggle="tab" onclick="RenderSanLuong(\'' + id + '\')">Sản Lượng</a></li>';
        ultab += '<li role="presentation"><a href="#chiphidevice" aria-controls="Báo Cáo Chi Phí Thiết Bị" role="tab" data-toggle="tab" onclick="RenderCPDevice(\'' + id + '\')">Chi Phí Thiết Bị</a></li>';
        ultab += '<li role="presentation"><a href="#chiphivattu" aria-controls="Báo Cáo Chi Phí Vật Tư" role="tab" data-toggle="tab" onclick="RenderCPVatTu(\'' + id + '\')">Chi Phí Vật Tư</a></li>';
        ultab += '<li role="presentation"><a href="#thicong" aria-controls="Báo Cáo Tình Hình Thi Công" role="tab" data-toggle="tab" onclick="RenderThiCong(\'' + id + '\')">Tình Hình Thi Công</a></li>';
        ultab += '<li role="presentation"><a href="#nhanvien" aria-controls="Danh Sách Nhân Viên" role="tab" data-toggle="tab" onclick="RenderNhanVien(\'' + id + '\')">Nhân Viên</a></li>';


        $('div#taichinh').addClass("active");
        data.find('ul[id="ul-tab"]').html(ultab);

        $.ajax({
            url: '../Monitoring/TaiChinhCT',
            type: 'POST',
            dataType: 'html',
            data: { "congTrinhId": item.CongTrinhId },
            async: false,
            success: function (result) {
                data.find('div[id="taichinh"]').html(result);
            }
        });

        var elm = data[0];
        htmlData += elm.outerHTML;
        return htmlData;
    }
    function FocusCongTrinh(item){
        mapData.LayerCongTrinh.eachLayer(function (layer) {
            if (layer.options.options.deviceID == item) {
                layer.openPopup();
            }else{
                layer.closePopup();
            }
        })
    }

    function RenderSanLuong(item)
    {
        //thietbiId = currentDeviceID;
        var strFromDate = $('#strFromDateSanLuong').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateSanLuong').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#sanluong").load('@(Url.Action("SanLuongCT", "Monitoring"))?congTrinhId=' + item + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    
    function RenderCPDevice(item){
        var strFromDate = $('#strFromDateCPDevice').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateCPDevice').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#chiphidevice").load('@(Url.Action("CPDeviceCT", "Monitoring"))?congTrinhId=' + item + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function RenderCPVatTu(item){
        var strFromDate = $('#strFromDateCPVatTu').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateCPVatTu').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#chiphivattu").load('@(Url.Action("CPVatTuCT", "Monitoring"))?congTrinhId=' + item + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function RenderThiCong(item){
        var strFromDate = $('#strFromDateCPVatTu').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateCPVatTu').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#thicong").load('@(Url.Action("ThiCongCT", "Monitoring"))?congTrinhId=' + item + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
    function ShowModalCocDetail(congTrinhId, cocId){
        $('#CocDetailModalBody').load('@(Url.Action("CocDetailCT", "Monitoring"))?congTrinhId=' + congTrinhId +'&cocId=' + cocId);
        $("#CocDetailModal").modal('show');
    };

    function RenderNhanVien(item){
        var strFromDate = $('#strFromDateNhanVien').val();
        if(strFromDate == undefined)
        {
            strFromDate = '';
        }
        var strToDate = $('#strToDateNhanVien').val();
        if(strToDate == undefined)
        {
            strToDate = '';
        }
        $("#nhanvien").load('@(Url.Action("NhanVienCT", "Monitoring"))?congTrinhId=' + item + '&strFromDate=' + strFromDate + '&strToDate=' + strToDate);
    }
</script>
