@model WebManageFridgeMQTT.Utility.CongTringPopupMV
<div class="row">
    <div class="col-sm-12">
        <div class="item fl">
            <label class="fl">Chọn Ngày</label>
            @Html.TextBox("strFromDateThiCong", Model.FromDate.ToShortPattern(), new { @class = "datepicker" })
            @Html.TextBox("strToDateThiCong", Model.ToDate.ToShortPattern(), new { @class = "datepicker" })
            <button class="btn" onclick="RenderThiCong('@Model.CongTrinhId')">
                <i class="icon-submit" title="Xem báo cáo"></i>Xem
            </button>
        </div>
        <div class="content-body">
            <div id="table-thicong" class="tab-content wrapper">
                <table class="table table-striped">
                    <thead>
                        <tr class="tablesorter-headerRow">
                            <th nowrap>
                                STT <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Thời gian tạo <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Tên cọc <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Mét đất <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Mét đá <i class="tablesorter-icon"></i>
                            </th>
                            <th nowrap>
                                Trạng thái <i class="tablesorter-icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ListThiCong != null)
                        {
                            int i = 1;
                            foreach (var item in Model.ListThiCong)
                            {
                                <tr role="row">
                                    <td>@i</td>
                                    <td>@item.ThoiGian</td>
                                    <td><a href="javascript:void(0)" onclick="ShowModalCocDetail('@item.CongTrinhID','@item.CocID')">@item.TenCoc</a></td>
                                    <td class="align-right">@item.MetDat</td>
                                    <td class="align-right">@item.MetDa</td>
                                    <td>@item.ThiCong</td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <nav class="ts-pager-thicong">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous" class="prev">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <span>
                            Chọn
                            <select class="pagenum input-mini" title="Select page number"></select>
                        </span>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next" class="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <span class="pagedisplay"></span>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $('#table-thicong table').tablesorter({
            headerTemplate: '{content} {icon}', // Add icon for various themes
            widgets: ['uitheme', 'zebra', 'stickyHeaders', 'stickyFooters'], //, 'filter'
            widgetOptions: {
                stickyHeaders_attachTo: '.wrapper', // or $('.wrapper')
            }
        }).tablesorterPager({
            container: $(".ts-pager-thicong"),
            cssGoto: ".pagenum",
            prev: '.prev',
            next: '.next',
            size: 5,
            removeRows: false,
            output: ' {startRow} to {endRow} of {totalRows}' //'Showing {startRow} to {endRow} of {totalRows} entries' //'{startRow} - {endRow} / {filteredRows} ({totalRows})'  //'/ {totalPages}'
        });



    });
</script>
