@model MV_ReportVisit
@using System.Web.UI.WebControls;
@{
    ViewBag.Title = Utility.Phrase("Report_OutletValidLocal");
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="insider">
    <div id="loading" class="loading"></div>
    @using (Html.BeginForm("ReportOutletInvalidLocation", "ReportTracking", FormMethod.Post))
    {
        <div class="row display-table w-100pr mb-10 content-header">
            <div class="report-content-header">
                <div class="col-sm-8">
                    <h1>@Utility.Phrase("Report_OutletValidLocal")</h1>
                </div>
                <div class="col-sm-4">
                    <div class="p-0 fr">
                        @if (PermissionHelper.CheckPermissionByFeature("Tracking_OutletValidLocalExportExecl"))
                        {
                            <button type="button" id="btnExportExcel" class="btn p-0 m-0 ml-10 block-theme" title="Excel"><i class="icon-etool-excel"></i></button>
                        }
                        @if (PermissionHelper.CheckPermissionByFeature("Tracking_OutletValidLocalExportPDF"))
                        {
                            <button type="button" id="btnExportPDF" class="btn p-0 m-0 ml-10 block-theme" title="PDF"><i class="icon-etool-pdf"></i></button>   
                        }
                    </div>
                </div>
            </div>
            <div class="w-100pr">
                <div class="item fl">
                    <label for class="fl">@Utility.Phrase("Report_Region")</label>
                    <div id="RegionCbox" class="ctr_combobox input-group">
                        @Html.Partial("~/Views/Shared/Control/ComboboxPartial.cshtml", Model.listComboboxRegion, new ViewDataDictionary { { "NameID", "Region" } })
                    </div>
                </div>
                <div class="item fl">
                    <label for class="fl">@Utility.Phrase("Report_Area")</label>
                    <div id="AreaCbox" class="ctr_combobox input-group">
                        @Html.Partial("~/Views/Shared/Control/ComboboxPartial.cshtml", Model.listComboboxArea, new ViewDataDictionary { { "NameID", "Area" } })
                    </div>
                </div>
                <div class="item fl">
                    <label for class="fl">@Utility.Phrase("Report_Distributor")</label>
                    <div id="DistributorCbox" class="ctr_combobox input-group">
                        @Html.Partial("~/Views/Shared/Control/ComboboxPartial.cshtml", Model.listComboboxDistributor, new ViewDataDictionary { { "NameID", "Distributor" } })
                    </div>
                </div>
                <div class="item fl">
                    <button type="button" id="Search"><i class="icon-submit"></i>@Utility.Phrase("Report_View")</button>
                </div>
            </div>
        </div>
        <div id="ErMesgBox" class="row"><span style="color: red" class="error"></span></div>
    }
    <div class="row content-body">
        <div class="tab-header">
            <div class="toolbox">
                <ul class="fr m-0">
                    <li class="ts-pager">
                        <a href="#" title="prev"><img src="@Url.Content("~/Content/NewEtool/img/per.png")" class="prev"/></a>
                        <span class="pagedisplay"></span>
                        <a href="#" title="next"><img src="@Url.Content("~/Content/NewEtool/img/next.png")" class="next"/></a>
                        <span>@Utility.Phrase("GotoPage")
                            <select class="pagenum input-mini" title="Select page number"></select>
                        </span>
                        <span>@Utility.Phrase("Pages")</span>
                        <select class="pagesize input-mini m-0" title="Select page size">
                            <option selected="selected" value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </li>
                </ul>
            </div>
            <ul class="nav nav-tabs display-none">
                <li class="active"><a data-toggle="tab" href="#report-outlet">@Utility.Phrase("Report_Report")</a></li>
            </ul>
        </div>
        <div class="tab-content wrapper">
            @Html.Partial("OutletValidLocalPartial", Model.ReportOutletValidLocalResult)
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        hideColumnFilter();
        $("body").on('click', '.input-group-btn table tbody tr', function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var keyVal = $(this).find('td:first').html();
            var codeVal = $(this).find('td:nth-child(2)').html();
            var nameVal = $(this).find('td:last').html();
            if (keyVal == 0) { keyVal = ""; }
            var parentdiv = $(this).parents('div[class^="ctr_combobox"]');
            parentdiv.find('input[type^="text"]').val(codeVal + ' - ' + nameVal);
            parentdiv.find('input[type^="hidden"]').val(keyVal);

            var RegionVal = '';
            if ($('#Region').val() != undefined) {
                RegionVal = $('#Region').val();
            }
            var AreaVal = '';
            if ($('#Area').val() != undefined) {
                AreaVal = $('#Area').val();
            }
            var DistributorVal = 0;
            if ($('#Distributor').val() != undefined) {
                if ($('#Distributor').val() == "") {
                    DistributorVal = 0;
                } else {
                    DistributorVal = $('#Distributor').val();
                }
            }
            if (parentdiv.find('input[id^="Region"]').val() != undefined) {
                $("#AreaCbox").load('@(Url.Action("ReloadOptionArea", "ReportTracking"))?regionID=' + RegionVal);
                $("#DistributorCbox").load('@(Url.Action("ReloadOptionDistributor", "ReportTracking"))?regionID=' + RegionVal + '&areaID=' + AreaVal);

                $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').show();
                $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').show();
                if (RegionVal == "") {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').show();
                }
                else {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
                }
            }
            if (parentdiv.find('input[id^="Area"]').val() != undefined) {
                $("#DistributorCbox").load('@(Url.Action("ReloadOptionDistributor", "ReportTracking"))?regionID=' + RegionVal + '&areaID=' + AreaVal);

                if (RegionVal == "") {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').show();
                }
                $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').show();
                if (AreaVal == "") {
                    $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').show();
                }
                else {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
                    $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').hide();
                }
            }

            if (parentdiv.find('input[id^="Distributor"]').val() != undefined) {
                if (RegionVal == "") {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').show();
                }
                if (AreaVal == "") {
                    $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').show();
                }
                if (DistributorVal == "0" | DistributorVal == '') {
                    $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').show();
                }
                else {
                    $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
                    $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').hide();
                    $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').hide();
                }
            }
        });

        $('#btnExportExcel').click(function () {
            $('form').attr('action', '@Utility.FooMethod("/ReportTracking/OutletValidLocalExportExecl")');
            $('form').submit();
        });
        $('#btnExportPDF').click(function () {
            $('form').attr('action', '@Utility.FooMethod("/ReportTracking/OutletValidLocalExportPDF")');
            $('form').submit();
        });
        $('#Search').click(function () {
            $('form').attr('action', '@Utility.FooMethod("/ReportTracking/ReportOutletInvalidLocation")');
            $('form').submit();
            $(".loading").show();
        });
    });

    function hideColumnFilter() {

        if ($('#Region').val() != undefined) {
            if ($('#Region').val() != "") {
                $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
            }
        }

        if ($('#Area').val() != undefined) {
            if ($('#Area').val() != "") {
                $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
                $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').hide();
            }
        }

        if ($('#Distributor').val() != undefined) {
            if ($('#Distributor').val() == "" | $('#Distributor').val() == "0") {
                $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').show();
            } else {
                $('.box-table-ressult table td:nth-child(1),.box-table-ressult table th:nth-child(1)').hide();
                $('.box-table-ressult table td:nth-child(2),.box-table-ressult table th:nth-child(2)').hide();
                $('.box-table-ressult table td:nth-child(3),.box-table-ressult table th:nth-child(3)').hide();
            }
        }
    }
   
</script>
