<div class="title block-theme">
    <i class="icon-etool-image"></i>
    <h2>Ảnh chưa chấm</h2>
    <span class="btn-close">
        <a href="javascript:void(0)"><i class="icon-delete icon-white"></i></a>
    </span>
</div>
<div class="block-content">
    <ul>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-2.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Cửa hàng tạp hóa cô Ba</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Hữu Phước<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-1.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Siêu thị tiện lợi Family Smart</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Văn Thành<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-3.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Cửa hàng tạp hóa chú Tư Dzềnh </h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Ngô Thị Trúc<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-2.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Cửa hàng tạp hóa cô Tư ngã tư Bảy Hiền</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Hữu Phước<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-1.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Siêu thị tiện lợi Bnood</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Văn Thành<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-3.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Cửa hàng tạp hóa cô Sáu</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Ngô Thị Trúc<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-2.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Tạp hóa Nguyễn Văn Nam</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Hữu Phước<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-1.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Quán ăn nhẹ Gmart</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Nguyễn Văn Thành<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
        <li>
            <div class="mini-square-box fl mr-10">
                <a href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/NewEtool/img/outlet/outlet-3.jpg")" /></a>
            </div>
            <div class="describe">
                <h3>Tiệm tạp hóa Thành Trung</h3>
                <p>
                    Tuyến: RE09118<br />
                    Nhân viên: Ngô Thị Trúc<br />
                    Mã nhân viên: NV0978
                </p>
            </div>
        </li>
    </ul>
</div>
