@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.js")"></script>
    <script src="@Url.Content("~/Scripts/Leaflet/leaflet.contextmenu.js")"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet-google.js")"></script>
    <!-- Leaflet Element Label Plugins -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.iconlabel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/BaseMarkerMethods.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Marker.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/CircleMarker.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Path.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Map.Label.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/FeatureGroup.Label.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/MarkerCluster.Default.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.markercluster-src.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/leaflet.awesome-markers.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/leaflet.awesome-markers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/mines.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Leaflet/Control.MiniMap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/Control.MiniMap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Leaflet/GeoFridge.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.iconlabel.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/NewEtool/css/leaflet.label.css")" />

}

<div id="loading" class="loading">
</div>

<div class="insider">
    <div id="map" class="map">
    </div>
    <div class="map-option draggable ui-widget-content">
        <div class="map-insider">
            <div class="toggle-box">
                <div class="block-header">
                    <button class="btn-screenmode mini btn-transparent mt-10 mr-40">
                        <i class="icon-fullscreen icon-white"></i>
                    </button>
                    <button class="toggle-button mini btn-transparent mt-10">
                        <i class="icon-up icon-white"></i>
                    </button>
                    <div class="block block-theme m-0 p-0">
                        <h2 class="pl-10">Tùy chọn</h2>
                    </div>
                </div>
                <div class="toggle-content block-content border-none">
                    <div class="block block-theme m-0 block-content-header">
                        <div class="item">
                            <label class="fl">Tìm kiếm</label>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="..." placeholder="Nhập từ khóa" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    ///<reference path="~/Scripts/Leaflet/GeoFridge.js" />
    
    var mapData = {};
    mapData.markers = new L.MarkerClusterGroup({ spiderfyOnMaxZoom: true, showCoverageOnHover: false, zoomToBoundsOnClick: true, disableClusteringAtZoom: 16 });
    mapData.LayerMarkerFridgeLocation = L.layerGroup();
    mapData.LatLongBounds = [];


    var map = new L.Map('map', {
        center: [16, 106],
        zoom: 7,
        minZoom: 0,
        maxZoom: 23,
        contextmenu: true,
        contextmenuWidth: 240,
        contextmenuItems: [{
            text: 'Initial'
        }
        ]
    }
    );

    var googleLayer = new L.Google('ROADMAP');
    map.addLayer(googleLayer);
    var strDate = '';
    RenderShopMarker(strDate)
    
    function LoadShop() {
        var strDate = '';
        RenderShopMarker(strDate);
    };

    function OnLoadFridge() {
        var strDate = '';
        RenderShopMarker(strDate);
    }

    function RenderShopMarker(strDate) {
        $.ajax({ 
            type: 'POST', 
            url: '../GeoFridge/GetInfoShopBy',
            data: { strDate: strDate },
            dataType: 'json',
            success: function (data) {
                mapData.listFridgeLocationInfo = [];
                mapData.LayerMarkerFridgeLocation.clearLayers();
                MapShowHideLayer(mapData.LayerMarkerFridgeLocation, false, true);
                for (var i in data) {
                    RenderMarker([data[i].Latitude, data[i].Longitude], '', data[i].ShopName, RederPopupShop(data[i]), '070', mapData.LayerMarkerFridgeLocation, null, true);
                }
                MapShowHideLayer(mapData.LayerMarkerFridgeLocation, true, true);
            }
        });
    }

    function RenderShopMarker(strDate) {
        $.ajax({
            type: 'POST',
            url: '../GeoFridge/GetInfoShopBy',
            data: { strDate: strDate },
            dataType: 'json',
            success: function (data) {
                mapData.listFridgeLocationInfo = [];
                mapData.LayerMarkerFridgeLocation.clearLayers();
                MapShowHideLayer(mapData.LayerMarkerFridgeLocation, false, true);
                for (var i in data) {
                    RenderMarker([data[i].Latitude, data[i].Longitude], '', data[i].ShopName, RederPopupShop(data[i]), '070', mapData.LayerMarkerFridgeLocation, null, true);
                }
                MapShowHideLayer(mapData.LayerMarkerFridgeLocation, true, true);
            }
        });
    }
</script>