@model eRoute.Models.ViewModel.AssesmentVM
@{
    Layout = "~/Views/Shared/_rootLayout.cshtml";
    ViewBag.Title = "AuditorList";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "Progress",
        UpdateTargetId = "searchResults",
        OnBegin = "OnBegin",
        OnComplete = "OnComplete"
    };
}
<script type="text/javascript">
    function OnBegin() {
        document.getElementById('LoadingImg').setAttribute("style", "display");
    }
    function OnComplete() {
        document.getElementById('LoadingImg').setAttribute("style", "display:none");
    }
</script>
<div style="padding: 7px;">
    <div id="LoadingImg" class="AjaxLoaderOuter" style="display: none">
        <div class="AjaxLoaderInner">
            <img alt="DMSPro" src="/Content/Images/ajax-loader.gif" />
        </div>
    </div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" width="28%">
                @using (Ajax.BeginForm("GridViewPartial", ajaxOptions))
                {
                    <table width="100%" cellpadding="2" cellspacing="2">
                        <tr>
                            <td>
                                @Localization.Date
                            </td>
                            <td>
                                @Html.DevExpress().DateEdit(settings =>
                       {
                           settings.Width = 274;
                           settings.Name = "deDate";
                           settings.Date = DateTime.Now;
                           if (Session["deDate"] != null)
                           {
                               settings.Date = DateTime.Parse(Session["deDate"].ToString());
                           }
                           settings.Properties.EditFormat = EditFormat.Custom;
                           settings.Properties.EditFormatString = "dd/MM/yyyy";
                           settings.Properties.DisplayFormatString = "dd/MM/yyyy";
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Localization.Leader
                            </td>
                            <td>
                                @Html.DevExpress().TextBoxFor(model => Model.sp_Assesment_Auditor_View.FirstOrDefault().Leader, settings =>
                       {
                           settings.Name = "txtLeader";
                           settings.ReadOnly = true;
                           settings.Width = 274;
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Localization.Auditor
                            </td>
                            <td>
                                @Html.DevExpress().TextBoxFor(model => Model.sp_Assesment_Auditor_View.FirstOrDefault().Auditor, settings =>
                       {
                           settings.Name = "txtAuditor";
                           settings.ReadOnly = true;
                           settings.Width = 274;
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Localization.Distributor
                            </td>
                            <td>
                                @Html.DevExpress().ComboBox(settings =>
                       {
                           settings.Name = "cbbDistributor";
                           settings.Width = 274;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.Items.Add(" ------------ " + @Localization.SelectAll + " ------------ ", "-1");
                           foreach (var item in Model.sp_Assesment_Auditor_View.Select(x => new { x.DistributorID, DistributorName = "(" + x.DistributorCode + ") " + x.DistributorName }).Distinct().ToList())
                           {
                               settings.Properties.Items.Add(item.DistributorName, item.DistributorID);
                           }
                           settings.SelectedIndex = 0;
                       }).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Localization.Status
                            </td>
                            <td>
                                @Html.DevExpress().ComboBox(settings =>
                       {
                           settings.Name = "cbbStatus";
                           settings.Width = 274;
                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                           settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                           settings.Properties.NullDisplayText = string.Empty;
                           settings.Properties.ValueField = "Name";
                           settings.Properties.TextField = "Name";
                           settings.SelectedIndex = 0;
                       }).BindList(@ViewData["AD"]).GetHtml()
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DevExpress().Button(settings =>
                       {
                           settings.Name = "btnSearch";
                           settings.Text = Localization.BtnSearch;
                           settings.UseSubmitBehavior = true;
                       }).GetHtml()
                            </td>
                        </tr>
                    </table>
                }
            </td>
            <td valign="top" width="72%">
                <div style="padding-top: 4px; padding-bottom: 10px" id="searchResults">
                    @Html.Action("GridViewPartial")
                </div>
            </td>
        </tr>
    </table>
</div>
